#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_rel`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st

### One tailed t-test 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### Import dataset

In [2]:
# Your code here:
machine = pd.read_csv("ttest_machine.txt", sep=" ")

In [3]:
machine.head()

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

In [ ]:
# since it's about one tailed t-test, we put 2 mathematical comparison symbols in H0
# H0: mean speed new machine <= mean speed old machine
# H1: mean speed new machine > mean speed old machine

In [ ]:
# the first to mention is always the one we want to check, whether or not it is better than the second

checking hypothesis using sample values of new machine

In [29]:
# and get the pvalue
st.ttest_ind(machine.iloc[:,1],machine.iloc[:,0], equal_var = False)

Ttest_indResult(statistic=3.3972307061176026, pvalue=0.00324224946631798)

In [ ]:
# judging from the pvalue and stat results, we can see that p value is lower than 0.05 which means we can reject
# the null hypothesis, which makes us acknowledge the "=" statement, and positive stat means the mean of new machine
# is higher than 43.23

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use pokemon.csv

In [21]:
# Your code here:
pokemon = pd.read_csv("pokemon.txt")
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [26]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}
    # Your code here
    for i in features:
        results[i] = (st.ttest_ind(s1[i], s2[i], equal_var = False))[1]
    return results

In [ ]:
# H0: legendary stats >= not_legendary stats
# H1: legendary < not_legendary

In [22]:
legendary = pokemon[pokemon.Legendary == True]
not_legendary = pokemon[pokemon.Legendary == False]

In [23]:
display(legendary.shape)
display(not_legendary.shape)

(65, 13)

(735, 13)

In [27]:
result = t_test_features(legendary, not_legendary)
result

{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.826998494919331e-11,
 'Sp. Atk': 1.5514614112239816e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.0490163118824507e-18,
 'Total': 9.357954335957444e-47}

In [ ]:
# we reject the null hypothesis

#### Using the `t_test_features` function, conduct t-test for Legendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [ ]:
# Your code here

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [ ]:
# Your comment here
# we see that we reject the H0 hypothesis and thus
# we conclude that legendary pokemons have better stats compared to the non-legendary ones in all features

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [28]:
# Your code here
pokemon.head(2)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False

In [ ]:
# H0: gen2 <= gen1
# H1: gen2 > gen1

In [31]:
g1 = pokemon[pokemon.Generation == 1]
g2 = pokemon[pokemon.Generation == 2]

In [32]:
result = t_test_features(g1, g2)
result

{'HP': 0.14551697834219626,
 'Attack': 0.24721958967217725,
 'Defense': 0.5677711011725426,
 'Sp. Atk': 0.12332165977104388,
 'Sp. Def': 0.18829872292645752,
 'Speed': 0.00239265937312135,
 'Total': 0.5631377907941676}

#### What conclusions can you make?

In [ ]:
# Your comment here
# we fail to reject H0 for all features except for the speed

#### Compare pokemons who have single type vs those having two types.

In [33]:
# Your code here
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [43]:
# H0: 2types <= 1type
# H1: 2types > 1type

In [40]:
one_type = pokemon[pokemon["Type 2"].isna() == True]
two_types = pokemon[pokemon["Type 2"].isna() == False]

In [41]:
display(one_type.shape)

(386, 13)

In [42]:
result = t_test_features(one_type, two_types)
result

{'HP': 0.11314389855379413,
 'Attack': 0.00014932578145948305,
 'Defense': 2.7978540411514693e-08,
 'Sp. Atk': 0.00013876216585667907,
 'Sp. Def': 0.00010730610934512779,
 'Speed': 0.02421703281819093,
 'Total': 1.1157056505229964e-07}

#### What conclusions can you make?

In [ ]:
# Your comment here
# we fail to reject H0 in HP but we reject the H0 in all other features

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [ ]:
# H0: sp stats are lower or the same than normal stats
# H1: sp stats are higher than normal stats

In [44]:
# Your code here
# yes we compare the same population (i think)
pokemon["atkdef"] = pokemon.Attack + pokemon.Defense
pokemon["sp_atkdef"] = pokemon["Sp. Atk"] + pokemon["Sp. Def"]

In [45]:
st.ttest_rel(pokemon.atkdef, pokemon.sp_atkdef)

Ttest_relResult(statistic=4.180315982914765, pvalue=3.232628176833953e-05)

In [ ]:
# pvalue smaaaall, means we reject h0 hypothesis
# stat positive, means normal stats are higher than special stats

#### What conclusions can you make?

In [ ]:
# Your comment here